$font_titles: "Black Chancery";
$font_subtitle_1: "Changeling Spring";
$font_subtitle_2: "Changeling";
$font_sans: "Roboto";
$font_sans_fancy: "Sans fancy";

@font-face {
	font-family: "Black Chancery";
	src: url("/fonts/black_chancery.woff2");
}

@font-face {
	font-family: "Changeling Spring";
	src: url("/fonts/black_chancery.woff2");
}

@font-face {
	font-family: "Changeling";
	font-weight: normal;
	src: url("/fonts/bernhard_modern_regular.woff2");
}

@font-face {
	font-family: "Changeling";
	font-weight: bold;
	src: url("/fonts/bernhard_modern_bold.woff2");
}

@font-face {
	font-family: "Sans Fancy";
	font-weight: normal;
	src: url("/fonts/grandstander.woff2");
}

body {
	font-family: $font_sans_fancy;
}

h1,
.text-font-title {
	font-family: $font_titles;
}

h2,
h3,
.text-font-subtitle {
	font-family: $font_subtitle_2;
}

p,
.text-p {
	font-family: $font_sans_fancy;
	letter-spacing: 1px;
}

.text-sans,
.q-field,
.q-btn {
	font-family: $font_sans_fancy;
}

.text-xs {
	font-size: 0.8rem;
	line-height: 1;
}

a,
a:active,
a:focus {
	color: $light-blue;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: $blue-grey-8;
}

.trait_name {
	font-family: $font_subtitle_2;
	font-size: min(1.5vw, 1.2rem);
	letter-spacing: 1px;
}

.nav_link {
	font-family: $font_sans_fancy;
	font-size: 0.9rem;
	letter-spacing: 1px;
	line-height: 1;
}

.q-tab__label,
.q-timeline__title,
.q-timeline__subtitle {
	font-family: $font_sans_fancy;
	letter-spacing: 1px;
}

.ellipsis-5-lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.q-dark,
[class*="--dark"],
.body--dark .text-white {
	color: #ddd;
}

.bg-dark-blue {
	background-color: #000828;
}

.text-dark-blue {
	color: #000828;
}

.line-height-180 {
	line-height: 1.8;
}

.opacity-4 {
	opacity: 0.4;
}

.opacity-6 {
	opacity: 0.6;
}

@media (min-width:1440px) {
	.trait_name {
		font-size: min(1vw, 1.2rem);
	}
}
