$font_titles: "Changeling";
$font_subtitle: "Changeling Spring";
$font_sans: "Roboto";

@font-face {
	font-family: "Changeling Spring";
	src: url("/fonts/boyd_uncial.woff2");
}

@font-face {
	font-family: "Changeling";
	font-weight: normal;
	src: url("/fonts/bernhard_modern_regular.woff2");
}

@font-face {
	font-family: "Changeling";
	font-weight: bold;
	src: url("/fonts/bernhard_modern_bold.woff2");
}

body,
.text-font-title {
	font-family: $font_titles;
}

h1,
h2,
h3,
.text-font-subtitle {
	font-family: $font_subtitle;
}

p,
.text-p {
	font-family: $font_sans;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

.trait_name {
	font-family: $font_subtitle;
	font-size: 1.2rem;
}

.q-tab__label,
.q-timeline__title,
.q-timeline__subtitle {
	font-family: $font_sans;
	letter-spacing: 1px;
}

.ellipsis-5-lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
